@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.btn-danger, .btn-success {
  margin-left: 1%;
}

form.form-inline {
  margin-bottom: 2%;
}

.alert {
  width: 30%;
  margin-right: 1%;
  margin-top: 5%;
  float: right;
}
