@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.btn-danger, .btn-success {
  margin-left: 1%;
}

form.form-inline {
  margin-bottom: 2%;
}

.alert {
  width: 30%;
  margin-top: 5%;
  float: right;
}

header {
  margin-bottom: 3%;
}

// form#image-upload {
//   position: absolute;
//   top: 10%;
//   left: 35%;
//   width: 30%;
//   background-color: #f5f5f5;
//   padding: 2%;
// }

a#edit-background-image {
  position: absolute;
  top: 150px;
}
