<style>
  .navbar-xs {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1100;
  }
  .navbar-primary .navbar {
    background:#9f58b5; border-bottom:none;
  }
  .navbar-primary .navbar .nav > li > a {
    color: #501762;
  }
  .navbar-primary .navbar .nav > li > a:hover {
    color: #fff; background-color: #8e49a3;
  }
  .navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {
    color: #fff; background-color: #501762;
  }
  .navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {
    border-top-color: #fff;border-bottom-color: #fff;
  }
  .navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
  .navbar-primary .navbar .nav > li.dropdown.open > a {
    color: #fff;background-color: #9f58b5;border-color: #fff;
  }
  .navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {
    border-top-color: #fff;
  }
  .navbar-primary .navbar .navbar-brand {
    color:#fff;
  }
  .navbar-primary .navbar .nav.pull-right {
    margin-left: 10px;
    margin-right: 0;
  }
  .navbar-xs .navbar-primary .navbar {
    min-height:28px;
    height: 28px;
  }
  .navbar-xs .navbar-primary .navbar .navbar-brand{
    padding: 0px 12px;
    font-size: 16px;
    line-height: 28px;
  }
  .navbar-xs .navbar-primary .navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
  }
  .navbar-sm .navbar-primary .navbar {
    min-height:40px;
    height: 40px;
  }
  .navbar-sm .navbar-primary .navbar .navbar-brand{
    padding: 0px 12px;
    font-size: 16px;
    line-height: 40px;
  }
  .navbar-sm .navbar-primary .navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
  }
</style>

<div class="navbar-xs">
   <div class="navbar-primary">
       <nav class="navbar navbar-static-top" role="navigation">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <%= link_to 'Home', root_path, class: 'navbar-brand' %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
              <ul class="nav navbar-nav">
                 <%= render 'layouts/nav_links_for_auth' %>
              </ul>
          </div>
      </nav>
  </div>
</div>
